<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    <main>
        <h1>이메일 인증</h1>
        <div>
            {{name}}님의 인증번호
            <div>인증번호 : {{resetCode}}</div>
        </div>
    </main>
</body>
</html>