<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" href="/login.css">
    
</head>
<body>
    <main>
        <h1>deoksu</h1>
        <div class="input">
            <input type="text" placeholder="아이디" id="id">
            <input type="text" placeholder="비밀번호" id="pw">
        </div>
        <label>로그인</label>
        <div class="search-join">
            <span onclick="location.href='/user/idPwSearch'">아이디·비밀번호 찾기</span>
            <span onclick="location.href='/user/join'">회원가입</span>
        </div>
    </main>
</body>
<script src="login.js"></script>
</html>